# Exclude everything
*

# Include project root files
!App.js
!app.json
!babel.config.js
!eas.json
!index.js
!metro.config.js
!package.json
!package-lock.json
!global.css
!tailwind.config.js
!.gitignore

# Include source and assets
!src/**
!assets
!assets/**

# Exclude native folders
/android
/ios

# Exclude local artifacts
.expo
dist
web-build
node_modules
serviceAccountKey.json
uploadWords.js
